<div id="wrap">
    <a id="top" name="top" accesskey="t"></a>
    <div id="page-header">
        <div class="headerbar">
            <div class="inner content-wrap"><span class="corners-top"></span>
                <div id="site-description">
                    <a href="{{ .Site.BaseURL }}" title="Obsah fóra" id="logo"><img src="/files/logo-text.png" alt="" title=""></a>
                    <p class="skiplink"><a href="{{ .Site.BaseURL }}">Přejít na obsah</a></p>
                </div>
                <span class="corners-bottom"></span></div>
        </div>

        <div class="navbar">
            <div class="inner content-wrap"><span class="corners-top"><span></span></span>
                <ul class="linklist rightside navlinks">
                    <li class="icon-home"><a href="{{ .Site.BaseURL }}" accesskey="h">Obsah fóra</a>  
                        <strong>‹</strong> <a href="https://www.czela.net">Občanské sdružení</a></li>
                </ul>
                <span class="corners-bottom"><span></span></span></div>
        </div>
    </div>

    <a name="start_here"></a>
